* {
    box-sizing: border-box;
  	margin: 0;
  	padding: 0;
    text-decoration: none;
    font-family: sans-serif;
    color: rgb(254, 254, 254);
  	background-color: rgb(40, 42, 48);
}

body {
    min-width: 550px;
    width: auto !important;
    width: 550px;
}


main {
    min-height: calc(100vh - 78px - 56px);
}


h1, h2, h3, h4, h5, h6 {
    margin: 0px 20px 10px 20px;
    text-align: center;
    font-weight: 1000;
    color: rgb(254, 254, 254);
}